@CHARSET "UTF-8";

body {
	background-color: #000000;
	direction: rtl;
	height: 100%;
	text-align: right;
}

.ui-input-text input {
	text-align: right;
}

div.ui-input-text {
	margin: 1em auto;
}

.mainPage {
	background-color: #000000;
}

.whiteLine {
	height: 0.6em;
	background-color: #ffffff;
}

.blueLine {
	height: 0.6em;
	background-color: #01aef0;
}

.blueText {
	color: #01aef0;
}

.ui-page-theme-a .ui-bar-inherit {
	background-color: #000000;
}

.ui-page-theme-a {
	color: #E4B16B;
	text-shadow: 0 -2px 2px #633737;
}

#landPage {
	background-image: url(../images/background_dark.png);
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.ui-header .ui-title {
	color: #ffffff;
}

.ui-input-text {
	max-width: 19em;
}

#send {
	max-width: 19em;
}

.ui-page-theme-a {
	color: #fff;
	text-shadow: 0 0 5px #000;
}

.error {
	box-shadow: 0px 0px 12px red;
}

iframe, .ui-input-text {
	margin: 0px auto;
	display: -moz-box;
	display: -webkit-box;
	display: box;
}

.ui-btn {
	margin-left: auto;
	margin-right: auto;
}

#callUs {
	width: 9em;
	display: inline-flex;
}

#footerSlogen {
	text-align: center;
}

#details {
	margin-right: 1em;
}

#headerSlogen {
	font-size: 90%;
	margin: 0 29%;
	text-shadow: none;
	text-align: center;
	padding: .7em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0 !important;
}
#formTitle{
	margin: 1em 30%;
}
picture {
	margin: 0 auto;
	display: block;
}

#footer {
	display: table;
	margin: 0 auto;
}

#slogen {
	margin-left: auto;
	margin-right: auto;
	display: table; 
	animation-name: sale;
	-webkit-animation-name: sale;
	-moz-animation-name: sale;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	margin-bottom: 1em;
}

#logo {
	background-image: url("/assets/images/mobile_logo172x60.png");
	width: 172px;
	height: 60px;
	margin: 0 auto;
	display: block;
}
#customer{
	display: none;
	max-width: 29em;
}
.ui-block-a{
	clear: right;
	float: right;
}
.ui-block-b{
	clear: left;
	float: left;
}
#names{
	float: left;
}
@-webkit-keyframes sale {
	from {color: #ffffff;}
	to {color: #01AEF0;}
}
@keyframes sale {
	from {color: #ffffff;}
	to {color: #01AEF0;}
}

@-moz-keyframes sale {
	from {color: #ffffff;}
	to {color: #01AEF0;}
}
@MEDIA screen and (min-width: 35em) {
	#landPage {
		background-image: url(../images/background1920x1080.png);
	}
	#logo {
		background-image: url("/assets/images/mobile_logo.png");
		width: 310px;
		height: 108px;
	}
	#customer {
		display: block;
		margin-top: 6em;
	}
	#customer:before{
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		font-size: 24px;
		position: relative;
		content: "";
		background: url("../images/quote-rtl.png");
		width: 29px;
		height: 19px;
		top: -10px;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}
}

@MEDIA screen and (min-width: 70em) {
	iframe{
		width:25em;
		height: 12.5em;
	}
}